@model HomeschoolGradeTracker.Web.Pages.Subjects.Assignments.IndexModel

<table id="assignment-table"
       class="table table-bordered table-striped"
       hx-get="/Subjects/Assignments/AssignmentTablePartial?SubjectId=@Model.AssignmentTableViewModel.SubjectId"
       hx-trigger="refresh from:body"
       hx-target="this"
       hx-swap="outerHTML">
    <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Description</th>
            <th>Grade</th>
            <th>Date Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in Model.AssignmentTableViewModel.Assignments)
        {
            <tr>
                <td>@assignment.AssignmentName</td>
                <td>@assignment.Description</td>
                <td>@assignment.Grade</td>
                <td>@string.Format("{0:MM/dd/yyyy}", assignment.DateCompleted)</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <button class="btn btn-info w-50 m-1"
                                hx-get="/Subjects/Assignments/EditPartial?id=@assignment.Id"
                                hx-target="#modal-content"
                                hx-swap="innerHTML"
                                @@click="window.dispatchEvent(new CustomEvent('open-modal'))">
                            Edit
                        </button>

                        <button class="btn btn-danger w-50 m-1"
                                hx-get="/Subjects/Assignments/DeletePartial?id=@assignment.Id"
                                hx-target="#modal-content"
                                hx-swap="innerHTML"
                                @@click="window.dispatchEvent(new CustomEvent('open-modal'))">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>