@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5 mt-4">Welcome to HomeSchool Grade Tracker</h1>
    <a asp-page="/subjects/index" class="btn btn-primary btn-lg px-5 mt-3">Manage Your Grades</a>
</div>
